@charset "utf-8";
/* CSS Document */


Header{
	background-color: #034159;
	font-family: 'Rajdhani', sans-serif;
}

nav{
	background-color: #025951;
	font-family: 'Rajdhani', sans-serif;
	color: white;

}


section{
	background-color: #02735E;
	font-family: 'Work Sans', sans-serif;
}

#footer{
	background-color:#F2668B;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #000000;
}

/* selected link */
a:active {
  color: white;
}

h3{
	color:#000000;
}