@charset "utf-8";
/* CSS Document */
header{
	background-color:#262424;
}

#body{
	position: relative;
    height: 500px;	
}

#face, #eyes, #armorbody, #wizbody, #axebody, #crown{
	position: absolute;
}
#creation{
	text-align: center;
}

section, footer, creation{
	background-image: url("../../BarbarianWarScreenshot.webp");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}