@charset "utf-8";
/* CSS Document */

header{
	background-color: #343A40;
	
/*
	background-image: url("../images/nigh_sky.jpg");
	background-size: cover;
	background-position: center;
*/
	
}

section{
	background-image: url("../images/a-spooky-door.webp");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
h2{
	color: #DC3545;
	
}