@charset "utf-8";
/* CSS Document */

/*if u want diff look in each header on the diff pages then use an id rather then just header*/
#homemasthead{
/*	background-color: #474343;*/
	background-image: url("../images/backgrounds/Convocation-mobile.jpg");
	/*stops tiling of images*/
	background-size: cover;
	background-position: center;
}
#fishmasthead{
	background-image: url("../images/backgrounds/smallFish.jpg");
	background-size:cover;
	background-position: right;
}

/*set default font size*/
.display-1{
	font-size: 30pt;
}

h2{
	color: chartreuse;
}

.bg-dark{
	background-color: #000000 !important;
}

/*class to define height*/
.height80{
	height: 80vh;
}

footer{
	background-color: #252626;
	padding-top: 50px;
	padding-bottom: 100px;
	color:white;
}
a:link, a:visited{
	color: #1AFB00;
}
a:hover{
	color: #1AFB00;
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
	.display-1{
		font-size: 60pt;
}
} 



/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 768px) {
	#homemasthead{
	background-image: url("../images/backgrounds/fish.jpg");
	}
} 
	
	
	
	
	
	
	
	
	
	
	